* {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: sans-pro-regular, sans-serif;
}

@font-face {
    font-family: code-pro-bold;
    src: url(../fonts/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: code-pro-regular;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: sans-pro-semibold;
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: sans-pro-regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
    box-sizing: border-box;
}

/* ESTILOS DEL MENU DESPLEGABLE */

header {
    width: 100%;
    background: linear-gradient(274.88deg, #C83DE5 4.97%, #3AF1CE 98.41%);
    position: fixed;
    z-index: 1;
}

#btnMenu {
    display: none;
}

header label {
    display: none;
    height: 20px;
    width: 16px;
    padding: 10px 15px 18px;
    border-right: 1.5px solid rgba(51, 51, 51, 0.3);
    color: #333;
    font-size: 20px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu section {
    margin: 0;
    padding: 0;
    display: flex;
}

.itemsHover:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menu div span {
    display: block;
    padding: 20px 0px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.menu div i {
    margin-left: 10px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 170px;
}

.itemsHover {
    border-left: 1.5px solid rgba(51, 51, 51, 0.3);
    /* border-right: 1.5px solid rgba(51, 51, 51, 0.3); */
    justify-content: center;
    padding-right: 20px;
}

.icons-cp {
    margin: 0 15px 0 15px;
}

.separator {
    justify-content: space-between;
}

.userLogged {
    width: 100%;
}

.userLogged>span {
    padding-top: 26px !important;
}

.userImage {
    width: 60px;
    margin: 8px 8px 8px 20px;
}

.userName {
    text-transform: uppercase;
}

.coderPlace {
    display: none;
}

.coderPlaceDesktop {
    font-size: 45px;
    font-weight: bold;
    margin-top: 12px;
    margin-right: 50px;
}

/*FIN DE ESTILOS MENU DESPLEGABLE */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1% auto;
    width: 90%;
    height: 100%;
}

.img-login-mobile {
    display: none;
}

.index-img-message {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-img-message img {
    width: 90%;
    margin: 0 0 3%;
}

.index-img-message h1 {
    font-size: 1.6em;
    text-align: center;
    width: 90%;
}

.card-login {
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 2% 0 2% 3%;
    max-width: 400px;
}

.icon-coderplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 5%;
}

.icon-coderplace img {
    width: 25%;
}

.icon-coderplace h1 {
    font-size: 35px;
    margin: 10px;
    font-family: code-pro-bold, sans-serif;
    letter-spacing: -0.05em;
}

.card-login h4 {
    font-size: 18px;
    text-align: center;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8% 0 10%;
}

.container-inputs input {
    margin: 10px 20px;
    font-weight: 600;
}

.container-inputs button {
    margin: 5% 0;
}

.input-login {
    width: 70%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
    border: solid 1.5px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(273.56deg, #C83DE5 4.97%, #3AF1CE 98.41%);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #fff inset
        /* box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5); */
        /* background-clip: content-box, border-box; */
}



.btn-card {
    width: 150px;
    height: 40px;
    background: linear-gradient(282.92deg, rgba(186, 12, 223, 0.8) 4.97%, rgba(6, 242, 193, 0.8) 98.41%);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.rrss img {
    width: 45px;
    margin: 0 14px;
    cursor: pointer;
}

.container-inputs p {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 20px;
}

.card-login p {
    font-size: 15px;
    font-weight: 600;
    margin: 5% 0 8%;
}

.register {
    /* border-top: 1.5px solid rgba(51, 51, 51, 0.12); */
    width: 100%;
    text-align: center;
}

.card-login span {
    font-size: 14px;
    color: #9F00FF;
    cursor: pointer;
}

.terms {
    font-size: 14px;
    margin: 1em;
    max-width: 300px;
}

.terms label {
    cursor: pointer;
}

@media (max-width:768px) {

    /* ESTILOS PARA EL MENÚ DESPLEGABLE*/
    header label {
        display: block;
    }

    .coderPlace {
        display: block;
        position: absolute;
        left: 110px;
        top: 10px;
        font-size: 24px;
        color: #333;
    }

    .menu {
        position: absolute;
        width: 180px;
        background: linear-gradient(274.88deg, #C83DE5 4.97%, #3AF1CE 98.41%);
        width: 40%;
        margin-left: -70%;
        transition: all 0.7s;
        z-index: 1;
    }

    .menu section {
        flex-direction: column;
    }

    .menu div {
        border-top: 1.5px solid rgba(51, 51, 51, 0.3);
    }

    #btnMenu:checked~.menu {
        margin: 0;
        width: 100%;
    }

    .menu div i {
        position: absolute;
        right: 20px;
    }

    .menu div span {
        font-size: 14px;
    }

    .icons-cp {
        width: 20px;
    }

    .usercp {
        width: 25px !important;
    }

    .userImage {
        width: 50px;
        margin: 1px 7px 1px 7px;
    }

    .items {
        width: 100%;
    }

    .itemsHover {
        border: none;
        justify-content: unset;
        padding-right: 0;
    }

    .coderPlaceDesktop {
        display: none;
    }

    /* FIN DE ESTILOS DEL MENU DESPLEGABLE*/

    main {
        width: 100%;
        height: 100vh;
    }

    .index-img-message {
        display: none;
    }

    .card-login {
        background: #FFFFFF;
        box-shadow: none;
        border-radius: 15px;
        margin: 0;
        max-width: none;
    }

    .icon-coderplace h1 {
        margin: 0;
    }

    .card-login h4 {
        font-size: 14px;
    }

    .icon-coderplace {
        margin: 0 0 5%;
    }

    .icon-coderplace img {
        display: none;
    }

    .img-login-mobile {
        display: block;
        width: 90%;
        margin: 6% auto 0;
    }

    .container-inputs {
        margin: 6% 0 10%;
    }

    .input-login {
        width: 65%;
        height: 35px;
        font-size: 14px;
    }

    .btn-card {
        width: 130px;
        height: 35px;
        font-size: 14px;
    }

    .rrss img {
        width: 30px;
    }

    .card-login p {
        font-size: 14px;
        margin: 2% 0;
    }

    .register {
        padding: 2% 0;
    }
}

/* @media (max-width:320px) {
    .index-img-message {
        display: none;
    }

    .card-login {
        box-shadow: none;
        padding: 0;
    }

    main {
        margin: 0;
        padding: 0;
    }
} */