/*--------------Estilo muro de usuario----------------*/
.section-main {
    margin: 20px 0px;
}

.container-main {
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding: 0px 50px;
    margin: 20px auto;
}

.general-information {
    position: sticky;
    top: 89.69px;
    width: 600px;
    margin: 10px 20px auto 50px;
}

.user-logged {
    width: 100%;
    text-align: center;
}

figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.flex-comun {
    background-color: tomato;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.photo {
    width: 10em;
    height: 10em;
    margin-top: -5em;
    border-radius: 200px;
    border: solid 5px #ffffff;
}

.container-info {
    width: 100%;
}

.name {
    width: 100%;
    align-items: center;
    margin-top: 0.5em;
    padding: 0 1em;
    position: relative;

}

.description {
    width: 100%;
    margin: 1em 0;
    padding: 0 1em;
    text-align: center;
    position: relative;
}

.description p {
    padding-top: 0.2em;
    height: 1.8em;
    text-align: center;
}

.name p {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-transform: full-width;
}

.editNameAbout {
    width: 95%;
}

.edit {
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.4em;
}

.coder-information {
    width: 100%;
    border: solid 1px rgb(185, 184, 184);
    margin-top: 40px;
}

.coder-header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 20px;
    font-weight: bold;
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
}

.container-coders {
    padding: 10px 10px;
    height: 210px;
    overflow: auto;
}

.container-coders::-webkit-scrollbar {
    width: 15px;
}

.container-coders::-webkit-scrollbar-thumb {
    background: rgb(138, 136, 136);
    border-radius: 15px;
}

.container-coders::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.container-coders::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 94, 94);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.container-coders::-webkit-scrollbar-track:hover,
.container-coders::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.comun-ocupation {
    display: flex;
    flex-direction: row;
}

.info-coder {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 10px;
}

.info-coder p,
.info-coder span {
    font-size: 15px;
    color: #757575;
}

.comun-coders {
    font-weight: bold;
    width: 220px;
}

.comun-coders>p {
    color: #333333;
}

.name-ocupation {
    display: flex;
    flex-direction: row;
}

.name-ocupation div {
    padding: 0px 5px;
}

.name-ocupation p {
    padding: 0 5px;
}

.dev {
    font-weight: 600;
}

.container-post {
    border-radius: 8px;
    margin: 10px 50px auto 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 20px 20px 10px 20px;
}

.container-post #btnSharePost {
    width: 110px;
    height: 35px;
    background: linear-gradient(280.72deg, rgba(186, 12, 223, 0.30) 4.97%, rgba(6, 242, 193, 0.30) 98.41%);
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

.btnShareActive {
    cursor: pointer;
    background: linear-gradient(280.72deg, rgba(186, 12, 223, 0.8) 4.97%, rgba(6, 242, 193, 0.8) 98.41%) !important;
}

.btnShareActive:hover {
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.28), inset 6px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.new-post textarea {
    width: 100%;
    margin: auto;
    height: 127px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
}

.container-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.camera-privacity {
    display: flex;
    align-items: center;
}

.camera-privacity div {
    margin: 0px 20px;
}

/*.privacidad img {
    width: 25px;
}*/
.privacidad select {
    font-size: 15px;
    border: none;
    outline: none;
    background: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    cursor: pointer;
    padding: 0px 10px;
}

.camera {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.privacidad {
    display: flex;
    align-items: center;
}

.container-new-post-profile {
    width: 100%;
    margin-top: 30px;
}

.container-new-post-home {
    width: 100%;
    margin-top: 30px;
}

/*estilos de cada post*/
.each-post {
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.title-new-post {
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.time {
    display: flex;
    flex-direction: row;
}

.time>* {
    padding: 5px;
    font-size: 15px;
    color: #757575;
}

.time img {
    width: 28px;
    height: 28px;
    /* cursor: pointer; */
}

.user-foto {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    border-radius: 5em;
}

.icon-save {
    position: absolute;
    top: 0.3em;
    right: 2em;
    font-size: 1.5em;
    cursor: pointer;
    color: #333333;
}

.body-post {
    padding: 15px 20px;
    word-wrap: break-word;
    /* max-width: 100vw; */
}

.body-post p {
    text-align: justify;
    width: 100%;
}

.imgPost {
    max-width: 80%;
    margin-top: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.like-comment {
    padding: 5px 20px;
    border-top: solid 1px #CCCCCC;
}

.like-comment div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-comment p {
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.icon-like {
    width: 34px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.icon-comment {
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-left: 4em;
}

.num {
    margin-left: 2em;
}

.new-comment {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}

.new-comment input {
    width: 85%;
    padding: 0px 10px;
    outline: none;
    height: 42px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
}

.user-comment {
    width: 40px;
    margin-right: 5px;
    margin-top: 10px;
    height: 50%;
    border-radius: 5em;
}

.name-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px 3px 10px;
    text-align: left;
    font-size: 15px;
    /* border-bottom: solid 1px #CCCCCC; */
    position: relative;
}

/*-----------ESTILOS PARA TOGGLE DE EDITAR Y ELIMINAR de cada comentario-----------*/
.comment {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    margin: 8px 4px 0 0;
}

.comment>i {
    font-size: 16px;
}

.tooltip-container {
    position: absolute;
    top: 28px;
    right: 104px;
    background-color: #a72727;
}

.arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 75px;
    /*top: 389.95px; */
    background: #FFFFFF;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.15);
    transform: rotate(-45deg);
    z-index: 1;
}

.tooltip {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 80px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20), -1px -1px 4px rgba(0, 0, 0, 0.20);
    border-radius: 6px;
}

.opt {
    position: relative;
    height: 20px;
    font-size: 14px;
    font-style: normal;
    color: #333;
    z-index: 2;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 2px;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.optItalic {
    margin-right: 6px;
}

.opt:hover {
    background: #CCCCCC;
    cursor: pointer;
    border-radius: 6px;
}

.icon-tool {
    font-size: 10px;
    cursor: pointer;
    padding-right: 2px
}

.fa-ellipsis-h {
    font-size: 10px;
    padding: 4px 10px 0 0;
    height: 10px;
    cursor: pointer;
}

.toolTwo {
    padding-left: 5px !important;
}

/*----------SIMULADOR DE SELECT-----------------*/
.simulator-select {
    position: absolute;
    top: 0px;
    right: 0;
    width: 7em;
}

.simulator-select span {
    background: none;
    padding-left: 5em;
    cursor: pointer;
}

.simulator-select i {
    transform: rotate(-90deg);
    margin: 8px;
}

.simulator-select>ul {
    display: none;
    list-style: none;
}

.simulator-select:hover>ul {
    display: block;
    padding: 5px;
    border-radius: 0.3em;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.simulator-select:hover>ul>li:hover {
    background-color: #f2f2f2;
}

.simulator-select a {
    text-decoration: none;
}

/*.simulator-select:hover > ul > li:hover > a {  }*/

.info-user-comment {
    text-align: justify;
    padding: 5px 10px;
    width: 100%;
}

.icon-send {
    width: 28px;
    height: 28px;
}

.activeSend {
    fill: #333333 !important;
    cursor: pointer;
}

.activeSend:hover {
    transform: rotate(24deg);
    transition: 350ms ease;
}

.p-comment {
    margin-top: 1.2%;
    text-align: justify;
    width: 100%;
}

.own-post {
    width: 100%;
}

.fa-ellipsis-v {
    transform: rotate(-90deg);
    margin-right: 0.8em;
    padding: 2px;
    cursor: pointer;
}

.title-new-post-own {
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.icon-own {
    width: 20px;
    margin: 0 5px;
}

.change-post {
    width: 100%;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(138, 136, 136);
    border-radius: 15px;
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 94, 94);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.salir {
    text-decoration: none !important;
}

/*--------------ESTILOS DE PAGINA ERROR-----------*/

.error {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-img-error {

    min-width: 300px;
    max-width: 500px;
}

.body-error {
    padding: 0 1em 2em 1em;
}

.body-error h2 {
    color: rgba(186, 12, 223, 0.5);
    font-weight: bold;
    padding: 1em 0.5em;
}

.body-error p {
    font-size: 3vh;
    max-width: 500px;
    padding: 0 10px;
}
.back{
    cursor: pointer;
    color: rgba(186, 12, 223, 0.5);
    text-decoration: underline;
}
/*--------------------ESTILOS DEL MODAL DEL HOME-------------------*/
.modal {
    display: block;
    position: fixed;
    z-index: 400;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
}

.modal-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-modal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 90%;
    border-radius: 0.4em;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    max-width: 500px;
}

.comun-card {
    background-size: 100%;
}

.close {
    position: absolute;
    right: 4px;
    top: 0;
    font-size: 1.5em;
    color: #ababab;
    display: grid;
    justify-content: end;
    cursor: pointer;
}

.modal-info {
    border-radius: 0.4em;
    padding: 1.5em 1em 1em 1em;
    text-align: center;
    background-color: #fafafa;
}

.modal-info h3 {
    text-align: left;
}

.ocultar {
    display: none;
}

.delete-post-alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    margin: 0.7em 0;
    background-color: #fbe9e7;
}

.delete-post-alert p {
    padding: 0 0 0 0.5em;
    font-size: 16px;
}

.icon-alert {
    font-size: 2em;
    color: #d32f2f
}

.delete {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    background-color: #d32f2f;
}

.delete:hover {
    background-color: #a72727;
}

.cancel {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #000000;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    background-color: #f1efef;
}

.cancel:hover {
    background-color: #cccccc;
}

@media (min-width: 768px) {
    .container-modal {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container-main {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        justify-content: space-around;
        padding: 5px;
    }

    .general-information {
        position: unset;
        width: 90%;
        margin: 0px 20px;
        /*margin-bottom: 1em !important;*/
    }

    .container-post {
        width: 90%;
        margin: 0px 20px;
    }

    .info-coder {
        display: flex;
        margin: 10px 0px;
    }

    .info-coder img {
        display: none;
    }

    .comun-coders {
        width: auto;
    }

    .name-ocupation {
        display: flex;
        flex-direction: column;
    }

    .comun-ocupation {
        display: flex;
        flex-direction: row;
    }

    .photo {
        width: 8em;
        height: 8em;
        margin-top: -4em;
    }

    .imgPost {
        max-width: 95%;
        margin-top: 1em;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

}

@media (max-width:425px) {
    .container-main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0;
    }

    .general-information {
        display: block;
    }

    .coder-information {
        display: none;
    }

    .container-post {
        width: 95%;
        margin: 0;
    }

    figure img {
        width: 100%;
        height: 100%;

    }

    .new-post {
        padding: 7px;
    }

    .container-new-post-profile {
        margin-top: 20px;
    }

    .container-new-post-home {
        margin-top: 20px;
    }

    .name-comment {
        /* padding: 5px 10px; */
        padding: 10px;
    }

    .user-data {
        margin-bottom: 2em;
        margin-top: 0em;
    }

}

/* estilos de seccion oculta, de cuando el usuario ingresaa su perfil*/