* {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: sans-pro-regular, sans-serif;
}

@font-face {
    font-family: code-pro-bold;
    src: url(../fonts/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: code-pro-regular;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: sans-pro-semibold;
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: sans-pro-regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.index-img-message {
    width: 800px;
}

.index-img-message img {
    max-width: 700px;
}

.index-img-message h1 {
    font-size: 30px;
    text-align: center;
}

.card-login {
    width: 540px;
    height: 840px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 10px;
}

.card-login img {
    width: 100px;
    margin: 30px 0;
}

.card-login h1 {
    font-size: 34px;
    margin: 0 0 24px;
    font-family: code-pro-bold, sans-serif;
}

.card-login h4 {
    font-size: 20px;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.input-login {
    width: 364px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    margin: 20px 0px;
}

.btn-card {
    width: 150px;
    height: 45px;
    left: 1033px;
    top: 608px;
    background: linear-gradient(282.92deg, rgba(186, 12, 223, 0.8) 4.97%, rgba(6, 242, 193, 0.8) 98.41%);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 30px 0;
    color: #FFFFFF;
    font-weight: bold;
}

.rrss img {
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}

.card-login p {
    font-size: 18px;
    margin: 20px 0;
    font-weight: 600;
}

.card-login span {
    font-size: 18px;
    color: #9F00FF;
}