/*--------------Estilo muro de usuario----------------*/
.section-main {
    margin: 20px 0px;
}

.container-main {
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding: 0px 50px;
    margin: 20px auto;
}

.general-information {
    position: sticky;
    top: 89.69px;
    width: 600px;
    margin: 10px 20px auto 50px;
}

.user-logged {
    width: 100%;
    text-align: center;
}
figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.flex-comun {
    background-color: tomato;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.photo {
    width: 10em;
    height: 10em;
    margin-top: -5em;
    border-radius: 200px;
    border: solid 5px #ffffff;
}

.container-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name p {
    font-weight: bold;
    font-size: 22px;
}

.edit {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.coder-information {
    width: 100%;
    border: solid 1px rgb(185, 184, 184);
    margin-top: 40px;
}

.coder-header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 20px;
    font-weight: bold;
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
}

.container-coders {
    padding: 10px 10px;
}

.comun-ocupation {
    display: flex;
    flex-direction: row;
}

.info-coder {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 10px;
}

.info-coder p,
.info-coder span {
    font-size: 15px;
    color: #757575;
}

.comun-coders {
    font-weight: bold;
    width: 220px;
}

.comun-coders>p {
    color: #333333;
}

.name-ocupation {
    display: flex;
    flex-direction: row;
}

.name-ocupation div {
    padding: 0px 5px;
}
.name-ocupation p {
    padding: 0 5px;
}
.container-post {
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 8px;
    margin: 10px 50px auto 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 20px 20px 10px 20px;
}

.container-post button {
    width: 110px;
    height: 35px;
    background: linear-gradient(280.72deg, rgba(186, 12, 223, 0.8) 4.97%, rgba(6, 242, 193, 0.8) 98.41%);
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.container-post button:hover {
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.28), inset 6px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.new-post textarea {
    width: 100%;
    margin: auto;
    height: 127px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
}

.container-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.camera-privacity {
    display: flex;
    align-items: center;
}

.camera-privacity div {
    margin: 0px 20px;
}

/*.privacidad img {
    width: 25px;
}*/
.privacidad select {
    font-size: 15px;
    border: none;
    outline: none;
    background: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    cursor: pointer;
    padding: 0px 10px;
}

.camera {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.privacidad {
    display: flex;
    align-items: center;
}

.container-new-post {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
/*estilos de cada post*/
.each-post {
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}
.title-new-post {
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.time {
    display: flex;
    flex-direction: row;
}
.time>* {
    padding: 5px;
    font-size: 15px;
    color: #757575;
}

.time img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.user-foto {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    border-radius: 5em;
}

.body-post {
    padding: 15px 20px;
    text-align: justify;
}
.like-comment {
    padding: 5px 20px;
    border-top: solid 1px #CCCCCC;
}
.like-comment div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.like-comment p {
    font-size: 14px;
    color: #333333;
    text-align: left;
}
.icon-like {
    width: 34px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}
.icon-comment {
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.new-comment {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}
.new-comment input {
    width: 85%;
    padding: 0px 10px;
    outline: none;
    height: 42px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.user-comment {
    width: 50px;
    height: 50%;
    border-radius: 5em;
}
.name-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    text-align: left;
    font-size: 15px;
    border-bottom: solid 1px #CCCCCC;
    position: relative;
}

.simulator-select {
    position: absolute;
    top: 0px;
    right: 0;
    width: 7em;
}

.simulator-select span {
    background: none;
    padding-left: 5em;
}

.simulator-select i {
    transform: rotate(-90deg);
}

.simulator-select>ul {
    display: none;
    list-style: none;
}

.simulator-select:hover>ul {
    display: block;
    padding: 5px;
    border-radius: 0.3em;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
}

.simulator-select:hover>ul>li:hover {
    background-color: #f2f2f2;
}

.simulator-select a {
    text-decoration: none;
}

/*.simulator-select:hover > ul > li:hover > a {  }*/

.name-comment div {
    text-align: justify;
    padding: 5px 10px;
}

.icon-send {
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.own-post {
    width: 100%;
}

.title-new-post-own {
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.icon-own{
    width: 20px;
    margin: 0 5px;
}
.change-post {
    width: 100%;
}
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(138, 136, 136);
    border-radius: 15px;
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 94, 94);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.salir {
    text-decoration: none !important;
}
/*--------------ESTILOS DE PAGINA ERROR-----------*/

.error{
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container-img-error{

    min-width:300px;
    max-width: 500px;
}
.body-error{
    padding: 0 1em 2em 1em;
}
.body-error h2{
    color: rgba(186, 12, 223, 0.5);
    font-weight: bold;
    padding: 1em 0.5em;
}
.body-error p{
    font-size: 3vh;
    max-width: 500px;
    padding:0 10px;
}

@media (max-width:768px) {

    .container-main {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        justify-content: space-around;
        padding: 5px;
    }

    .general-information {
        position: unset;
        width: 90%;
        margin: 0px 20px;
        /*margin-bottom: 1em !important;*/
    } 

    .container-post {
        width: 90%;
        margin: 0px 20px;
    }

    .info-coder {
        display: flex;
        margin: 10px 0px;
    }

    .info-coder img {
        display: none;
    }

    .comun-coders {
        width: auto;
    }

    .name-ocupation {
        display: flex;
        flex-direction: column;
    }

    .comun-ocupation {
        display: flex;
        flex-direction: row;
    }

    .photo {
        width: 8em;
        height: 8em;
        margin-top: -4em;
    }
    
}

@media (max-width:425px) {
    .container-main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0;
    }
    .general-information {
        display: block;
    }
    .coder-information {
        display: none;
    }
    .container-post {
        text-align: center;
        width: 95%;
        margin: 0;
    }
    figure img {
        width: 100%;
        height: 100%;
        
    }

    .new-post {
        padding: 7px;
    }

    .container-new-post {
        margin-top: 20px;
    }

    .name-comment {
        padding: 5px 10px;
    }

    /* .coder-information {
        display: none;
    } */
   
    .user-data{
        margin-bottom: 2em;
        margin-top: 0em;
    }
}

/* estilos de seccion oculta, de cuando el usuario ingresaa su perfil*/
