* {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: sans-pro-regular, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: code-pro-bold;
    src: url(../fonts/SourceCodePro-Bold.ttf);
}

@font-face {
    font-family: code-pro-regular;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: sans-pro-semibold;
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: sans-pro-regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
    box-sizing: border-box;
}

/* ESTILOS DEL MENU DESPLEGABLE */
header {
    width: 100%;
    background: linear-gradient(274.88deg, #C83DE5 4.97%, #3AF1CE 98.41%);
    position: sticky;
    top: 0;
    z-index: 1;
}

header>* {
    padding: 0;
}

#btnMenu {
    display: none;
}

header label {
    text-align: center;
    display: none;
    height: 45px;
    width: 40px;
    padding: 6px 4px;
    border-right: 1.5px solid rgba(51, 51, 51, 0.3);
    color: #333;
    font-size: 20px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu section {
    margin: 0;
    padding: 0;
    display: flex;
}

.itemsHover:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menu div span {
    display: block;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.menu div i {
    margin-left: 10px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 170px;
}

.itemsHover{
    border-left: 1.5px solid rgba(51, 51, 51, 0.3);
    border-right: 1.5px solid rgba(51, 51, 51, 0.3);
    justify-content: center;
}
.items a {
    width: 100%;
    background-color: lawngreen;
    padding: 0 !important; 
}
.icons-cp {
    margin: 0 15px;
}

.separator {
    justify-content: space-between;
}

.userLogged {
    width: 100%;
}

.main-title {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-title h1 {
    font-family: code-pro-regular;
    letter-spacing: -1px;
}

/*.userLogged>span {
    padding-top: 26px !important;
}*/

.userImage {
    width: 50px;
    margin: 5px 8px 5px 20px;
}

.userName {
    text-transform: uppercase;
}

.coderPlace {
    display: none;
}

.coderPlaceDesktop {
    font-size: 35px;
    font-weight: bold;
}


/*FIN DE ESTILOS MENU DESPLEGABLE */

/*--------------Estilo muro de usuario----------------*/
.section-main {
    margin: 20px 0px;
    min-width: 60px;
}

.container-main {
    padding: 0px 50px;
    width: 100%;
    display: flex;

    max-width: 1300px;
    margin: 20px auto;
}

.general-information {
    margin: 10px 20px auto 50px;
    width: 600px;
    /*display: none;
    position: -webkit-sticky;
    position: sticky;*/
    position: sticky;
    top: 89.69px;
}

.user-logged {
    width: 100%;
    text-align: center;

}

.img-general {
    width: 100%;
    height: 100%;
}

.user-data {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-info {
    margin: 0px 20px;
}

.container-info>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-info img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.name p {
    font-weight: bold;
    font-size: 22px;
}

.container-info>p {
    margin: 5px;
}

.photo {
    width: 100px;
}

.coder-information {
    width: 100%;
    margin-top: 40px;
    border: solid 1px rgb(185, 184, 184);
}

.coder-header {
    font-weight: bold;
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.container-coders {
    padding: 10px 10px;
}

.comun-ocupation {
    display: flex;
    flex-direction: row;
}

.info-coder {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 10px;
}

.info-coder p,
.info-coder span {
    font-size: 15px;
    color: #757575;
}

.comun-coders {
    font-weight: bold;
    width: 200px;
}

.comun-coders>p {
    color: #333333;
}

.name-ocupation {
    display: flex;
    flex-direction: row;
}

.name-ocupation div {
    padding: 0px 5px;
}

.container-coders img {
    width: 50px;
}

.container-post {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin: 10px 50px auto 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 20px 20px 10px 20px;
}

.container-post button {
    width: 110px;
    height: 35px;
    background: linear-gradient(280.72deg, rgba(186, 12, 223, 0.8) 4.97%, rgba(6, 242, 193, 0.8) 98.41%);
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.container-post button:hover {
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.28), inset 6px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.new-post textarea {
    width: 100%;
    margin: auto;
    height: 127px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
}

.container-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.camera-privacity {
    display: flex;
    align-items: center;
}

.camera-privacity div {
    margin: 0px 20px;
}

/*.privacidad img {
    width: 25px;
}*/
.privacidad select {
    font-size: 15px;
    border: none;
    outline: none;
    background: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0px 10px;
}

.camera {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.privacidad {
    display: flex;
    align-items: center;
}

.container-new-post {

    width: 100%;
    text-align: center;
    margin-top: 20px;

}

.each-post {
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-top: 20px;
}

.title-new-post {
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
}

.time>* {
    padding: 5px;
    font-size: 15px;
    color: #757575;
}

.time img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.user-foto {
    width: 60px;
    height: 60px;
    margin: 3px 10px;
}

.body-post {
    padding: 20px;
    text-align: justify;
}

.like-comment {
    padding: 5px 20px;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}

.like-comment div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-comment p {
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.icon-like {
    width: 34px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.icon-comment {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.new-comment {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    padding: 10px;
}


.new-comment input {
    min-width: 80%;
    padding: 0px 10px;
    outline: none;
    height: 42px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.user-comment {
    width: 50px;
}

.name-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 20px;
    text-align: left;
    font-size: 15px;
    position: relative;
}

.simulator-select {
    position: absolute;
    top: 0;
    right: 0;
    width: 7em;

}

.simulator-select span {
    margin-left: 0;
    background:none;
    padding-left:5em ;
}


.simulator-select>ul {
    display: none;
    list-style: none;
}

.simulator-select:hover>ul {
    display: block;
    padding: 5px; 
    border-radius: 0.3em;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
}

.simulator-select:hover>ul>li:hover {
    background: rgba(186, 12, 223, 0.5);
}

.simulator-select a {
    text-decoration: none;
}

/*.simulator-select:hover > ul > li:hover > a {  }*/

.name-comment div {
    text-align: justify;
    padding: 5px 10px;
}

.icon-send {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 15px;
    /* Estilos scroll en vertical */
}

body::-webkit-scrollbar-thumb {
    background: rgb(138, 136, 136);
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 94, 94);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.salir {
    text-decoration: none !important;
}

@media (max-width:768px) {

    /* ESTILOS PARA EL MENÚ DESPLEGABLE*/
    header label {
        display: block;
    }

    .coderPlace {
        display: block;
        position: absolute;
        left: calc(50% - 73px);
        top: 4px;
        font-size: 24px;
        color: #333;
    }

    .menu {
        position: absolute;
        width: 180px;
        background: linear-gradient(274.88deg, #C83DE5 4.97%, #3AF1CE 98.41%);
        width: 40%;
        margin-left: -70%;
        transition: all 0.7s;
        z-index: 1;
    }

    .menu section {
        flex-direction: column;
    }

    .menu div {
        border-top: 1.5px solid rgba(51, 51, 51, 0.3);
    }

    #btnMenu:checked~.menu {
        margin: 0;
        width: 100%;
    }

    .menu div i {
        position: absolute;
        right: 20px;
    }

    .menu div span {
        font-size: 14px;
        padding: 10px 0px;
    }

    .icons-cp {
        width: 20px;
    }

    .usercp {
        width: 25px !important;
    }

    .userImage {
        width: 50px;
        margin: 1px 7px 1px 7px;
    }

    .items {
        width: 100%;
    }

    .itemsHover {
        border: none;
        justify-content: unset;
        padding-right: 0;
    }

    .main-title {
        display: none;
    }

    .container-main {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        justify-content: space-around;
        padding: 5px;
    }

    .general-information {
        width: 90%;
        margin: 0px 20px;
    }

    .user-data {
        position: relative;
    }

    .photo {
        position: absolute;
        margin-top: -50px;
    }

    .container-info {
        margin-top: 40px;
    }

    .container-post {
        width: 90%;
        margin: 0px 20px;
    }

    .info-coder {
        display: flex;
        margin: 10px 0px;
    }

    .info-coder img {
        display: none;
    }

    .comun-coders {
        width: auto;
    }

    .name-ocupation {
        display: flex;
        flex-direction: column;
    }

    .comun-ocupation {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:425px) {
    .container-main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0;
    }

    .general-information {
        display: none;
    }

    .container-post {
        text-align: center;
        width: 95%;
        margin: 0;
    }

    .new-post {
        padding: 7px;
    }

    .container-new-post {
        margin-top: 0;
    }

    .commentname- {
        padding: 5px 20px;
        text-align: left;
    }

    .name-comment {
        padding: 5px 10px;

    }
}

/* estilos de seccion oculta, de cuando el usuario ingresaa su perfil*/
.own-post {
    width: 100%;
}

.title-new-post-own {
    background: linear-gradient(299.01deg, rgba(186, 12, 223, 0.5) 4.97%, rgba(6, 242, 193, 0.5) 98.41%);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.change-post{
    width: 100%;
}